.top-stories
  
  
  .top-most
    max-height: 700px
    // background: yellow
    .title
      font-weight: bold
      font-size: 25px
      cursor: pointer
  
  .top-old
    max-height: 700px
    // background: blue
    overflow: auto
    .sub-title
        font-weight: bold
        cursor: pointer
