.sub-stories
  .story
    height: 150px
    background: white !important
    width: 49%
    margin-right: 10px
    margin-bottom: 10px
  .story:hover
    opacity:90%
  .header
    background: #ef5637
    color: white
    padding: 5px
    font-size:20px
    font-weight: bold
    border-radius: 5px
  