<div class="selected pt-3" fxLayout="column" fxLayoutGap="20px">
  <div class="title">{{title}}</div>
  <img [src]="imgSrc" width="70%" height="auto">
  <div class="w-75 author" fxLayout="row" fxLayoutAlign="space-between center">
    <div>Author: {{author}}</div>
    <button mat-raised-button color="accent" *ngIf="liked" (click)="like()">
        <span>You liked this</span>
      <mat-icon color="warn">favorite</mat-icon>
    </button>
    <button mat-raised-button *ngIf="!liked" (click)="like()">
      <span>Like this page</span>
      <mat-icon color="accent">favorite</mat-icon>
    </button>
  </div>
  <div class="w-75 content">{{content}}</div>
  <div class="w-50 comment">
    <app-comment class="w-100"  [comments]="comments$ | async" *ngIf="searchMode"
    (addCommentSrc)="addComment($event)"
    (editCommentSrc)="editComment($event)"
    (removeCommentSrc)="deleteComment($event)"></app-comment>
  </div>
  
  <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px" class="w-75"> 
    <button mat-raised-button color="primary" (click)="edit()" *ngIf="!searchMode">Edit</button>
  </div>
</div>
<!-- <app-reaction></app-reaction> -->