<div class="header" fxLayout="column" fxLayoutGap="10px">
  <div class="sub-header-cont">
    <div fxLayout="row" class="subheader" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <img src="../../../../assets/icons/logo1.png" height="50px">
        <div class="title">kas<span class="u">U</span>-b<span class="a">A</span>ybay</div>
      </div>
      
      <div fxLayout="column" fxLayoutAlign="end end" class="h-100">
        <div fxLayout="row" fxLayoutGap="10px">
          <!-- <div [ngSwitch]="isLogged$ | async">
            <mat-icon class="white-icon" (click)="goToLogin()"
              *ngSwitchCase="false">person_add</mat-icon>
            <span *ngSwitchCase="true">name</span>
          </div> -->

          <div fxLayout="row" fxLayoutAlign="end center">
            <mat-icon class="white-icon" (click)="goToLogin()"
              *ngIf="!(isLogged$ | async)">person_add</mat-icon>
            <span *ngIf="(isLogged$ | async)" class="name">
              {{(currentUserName$| async)}}
            </span>
          </div>
          
          <mat-icon class="white-icon">notifications</mat-icon>
          <mat-icon class="white-icon" *ngIf="(isLogged$ | async)"
            [matMenuTriggerFor]="settingsMenu">settings</mat-icon>
          <mat-menu #settingsMenu="matMenu">
            <button mat-menu-item (click)="openDashboard()">
              <mat-icon>star</mat-icon>
              <span>My News</span>
            </button>
          </mat-menu>
        </div>
        
      </div>
    </div>
  </div>
  
  
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field appearance="outline" fxFlex="30">
      <input matInput placeholder="Search News">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="accent" style="height:56px">Search</button>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
    <div *ngFor="let section of sections" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" (click)="goToLink(section.link)">
      <img [src]="'../../../../assets/icons/' + section.icon" height="21px" width="auto" >
      <span class="section-title">{{section.title}}</span>
    </div>
  </div>
</div>