<div class="header" fxLayout="column" fxLayoutGap="10px">
  <div class="sub-header-cont">
    <div fxLayout="row" class="subheader" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="home-link" (click)="gotoFrontPage()">
        <img src="../../../../assets/icons/logo1.png" height="50px" >
        <div class="title">kas<span class="u">U</span>-b<span class="a">A</span>ybay</div>
      </div>
      
      <div fxLayout="column" fxLayoutAlign="end end" class="h-100">
        <div fxLayout="row" fxLayoutGap="10px">
          <!-- <div [ngSwitch]="isLogged$ | async">
            <mat-icon class="white-icon" (click)="goToLogin()"
              *ngSwitchCase="false">person_add</mat-icon>
            <span *ngSwitchCase="true">name</span>
          </div> -->
          <div fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row"class="department" fxLayoutAlign="end center" fxLayoutGap="10px">
             <mat-icon>group</mat-icon> 
             <span>{{currentDepartment}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
              <mat-icon class="white-icon" (click)="goToLogin()"
                *ngIf="!(isLogged$ | async)">login</mat-icon>
              <span *ngIf="(isLogged$ | async)" class="name">
                {{(currentUserName$| async)}}
              </span>
              <mat-icon class="white-icon" *ngIf="(isLogged$ | async)"
              [matMenuTriggerFor]="settingsMenu">account_circle</mat-icon>
            </div>
          </div>
          
          
          <!-- <mat-icon class="white-icon">notifications</mat-icon> -->
         
          <mat-menu #settingsMenu="matMenu">
            <button mat-menu-item (click)="openProfile()">
              <mat-icon>person</mat-icon>
              <span>Profile</span>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="department" *ngIf="(isJournalist$ | async) || (isAdmin$ | async)">
              <mat-icon>switch_access_shortcut</mat-icon>
              <span>Switch Department</span>
            </button>
            <button mat-menu-item (click)="openDashboard()" *ngIf="(isJournalist$ | async)">
              <mat-icon>star</mat-icon>
              <span>My News</span>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="admin" *ngIf="(isAdmin$ | async)">
              <mat-icon>admin_panel_settings</mat-icon>
              <span>Admin Settings</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Log Out</span>
            </button>
          </mat-menu>

          <mat-menu #admin="matMenu">
            <button mat-menu-item (click)="openUserList()">
              <mat-icon>manage_accounts</mat-icon>
              <span>Users</span>
            </button>
            <button mat-menu-item (click)="openFeaturedSettings()">
              <mat-icon>manage_accounts</mat-icon>
              <span>Featured</span>
            </button>
          </mat-menu>

          <mat-menu #department="matMenu">
            <div *ngIf="(isAdmin$ | async)">
              <button mat-menu-item *ngFor="let dept of departments$ | async" (click)="switchDepartment(dept)">
                <mat-icon>group</mat-icon>
                <span>{{dept.name}}</span>
              </button>
            </div>
            <div *ngIf="(isJournalist$ | async)">
              <button mat-menu-item *ngFor="let dept of journalistDept$ | async" (click)="switchDepartment(dept)">
                <mat-icon>group</mat-icon>
                <span>{{dept.name}}</span>
              </button>
            </div>
            
          </mat-menu>
          
        </div>
        
      </div>
    </div>
  </div>
  
  
  <!-- <div fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field appearance="outline" fxFlex="30">
      <input matInput placeholder="Search News">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="accent" style="height:56px">Search</button>
  </div> -->
  <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
    <!-- <div *ngFor="let section of sections" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" (click)="goToLink(section.link)">
      <img [src]="'../../../../assets/icons/' + section.icon" height="21px" width="auto" >
      <span class="section-title">{{section.title}}</span>
    </div> -->
  </div>
</div>