.header
  min-height:110px

  .subheader
    height: 80px
    background: #00203FFF
    padding: 10px

  .title
    font-size: 45px
    color: #ADEFD1FF

  .section-title
    font-size:17px
    cursor: pointer

  .section-title:hover
    opacity:60%

  .white-icon
    color: white !important